/**
 * Override all Magento base styles.
 * Add theme-specific styles.
 */



/**
 *
 *
 * OVERRIDE/EXTEND styles.css
 *
 *
 */

/* Layout %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.wrapper { border-top-style:solid; border-top-width:5px; }

/* Additional margin for sidebars
-------------------------------------------------------------- */
.col-left > *,
.col-left .widget-static-block { margin-right: 32px; }
.col-right > *,
.col-right .widget-static-block { margin-left: 32px; }



/* Global Styles %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Form
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Page Heading
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.page-title h1,
.page-title h2 { margin:0; min-height:1.3125em; /* 42px. Has to ba aligned with ".block .block-title" */ }
.category-title { margin-bottom:0; }


/* Global Messages
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.note-msg.empty-catalog {
    background:url(../images/img/empty-catalog.png) 10px 10px no-repeat transparent !important;
    color:inherit;
    min-height:70px;
    padding:40px 20px 40px 160px !important;
}





/* Sidebar %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Block lists
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.block-viewed .block-content ol,
.block-compare .block-content ol,
.block-compared .block-content ol {
    padding-left: 0;
    list-style: none;
}
.block-viewed .block-content li.item,
.block-compare .block-content li.item,
.block-compared .block-content li.item {
    background:url(../images/img/bullet.png) no-repeat 3px 10px;
    padding-left:15px;
}


/* Block: Related
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Align block title with the tabs on product page */
/*.block-related .section-title { padding-top: 19px; }*/


/* Block: Account
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.block-account .block-title { background:url(../images/img/ic-account.png) 5px 2px no-repeat; padding-left:42px !important; }
.block-account .block-content { padding:10px 0 0; }
.block-account li > * { padding: 2px; }
.block-account li.current strong { font-weight:bold; }



/* Category view %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.products-grid .item { -webkit-tap-highlight-color: transparent; }



/* Product view elements %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Availability
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.availability { float:right; margin:15px 0 10px; }



/* Product page %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Prices
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Bundle product */
.price-box-bundle {
    border-bottom:1px solid #e5e5e5;
    margin:-10px 0 15px; /* Move up to align with the main price box */
    padding-bottom:15px;
}


/* Main containers
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Margin before price box */
.product-view .space-before-avail { margin:0 0 15px; height:0; line-height:0; }

/* Upper part of the container */
.product-view .product-type-data > .price-box {
    border-top-style:solid;
    border-top-width:1px;
    margin:15px 0 0;
    padding:10px 0;
}


/* New elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.product-view .sku { margin: 15px 0; }
.product-view .sku .label { font-weight: bold; }


/* Product type specific data
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.product-view .is-type-grouped .availability { margin-top:0; margin-bottom:0; }
.product-view .grouped-items-table input.input-text { height: 26px; padding:4px; /* Decrease default height and padding */ }



/* My Account %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/*.my-account .pager { margin: -1px 0 20px; }*/



/**
 *
 *
 * MISCELLANEOUS
 *
 *
 */



/* Accordion/collapsible %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Collapsible blocks.
   Set position and other properties of arrow icon.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Different types of collapsible blocks share the same styles */

/* Generic tabs - accordion */
.gen-tabs .acctab:after,

/* Collapsible blocks */
.collapsible .block-title:after,
.mobile-collapsible .block-title:after,

/* Sidebar blocks */
.sidebar .block .block-title:after,

/* Layered navigation */
.block-layered-nav .block-title:after {
    float: right;
    font-size: 22px;
}

/* Blocks collapsible only on mobile - hide arrow */
.mobile-collapsible .block-title:after,
.sidebar .block .block-title:after,
.block-layered-nav .block-title:after {
    display: none !important;
}



/* Other modifications %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Cart
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Collateral boxes - full width */
.cart-left-column .grid-full,
.cart-right-column .grid-full {
    width:100%;
}



/* Icons %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Icons applied with icon codes
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* These icons needs to have the same basic styles as standard font icons.
   Except line height - it would override individual size of each icon.
*/
.form-search .button:before,

.buttons-set .back-link a:before,

.btn-remove:before,
.btn-remove2:before,
.map-popup-close:before,
.remember-me-popup-head .remember-me-popup-close:before,

.btn-edit:before,

.breadcrumbs .sep,

.caret:before,

#cboxPrevious:before,
#cboxNext:before,
#cboxClose:before,

/* Styles common for all direction controls */
.slider-arrows1 .owl-controls .owl-buttons div:before,
.slider-arrows2 .owl-controls .owl-buttons div:before,
.slider-arrows3 .owl-controls .owl-buttons div:before,

/* Caret inside dropdowns - right side caret */
.nav-regular .nav-panel a .caret:before,

/* Caret in vertical menu, 1st-level item */
.nav-vert li.level0 > a .caret:before,

/* Bullets in menu */
.nav-regular.with-bullets .nav-submenu--mega > li > ul > li > a:before,
.nav-regular .nav-item.simple > ul > li > a:before,

/* Accordion */
.accordion .opener:before,
.acco .opener:before,

/* Generic tabs - accordion */
.gen-tabs .acctab:after,

/* Quantity buttons */
.qty-button.increase:before,
.qty-button.decrease:before,

/* Collapsible block icon */
.collapsible .block-title:after,
.mobile-collapsible .block-title:after,
.sidebar .block .block-title:after,
.block-layered-nav .block-title:after
{
    display: inline-block;
    font-family: ThemeIcons;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /*line-height: 1em;*/ /* Important: don't overrid line height, it depends on the size of the icon */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Apply icon codes
-------------------------------------------------------------- */
.form-search .button:before {
    content: "\e235";
}
.buttons-set .back-link a:before {
    content: "\e22a";
}
.btn-remove:before,
.btn-remove2:before,
.map-popup-close:before,
.remember-me-popup-head .remember-me-popup-close:before {
    content: "\e22d";
}
.btn-edit:before {
    content: "\e22e";
}
.breadcrumbs .sep:before {
    content: "\e228";
    font-size: 8px;
}
.caret:before {
    content: "\e261";
}
.owl-controls .owl-buttons .owl-prev:before {
    content: "\e260";
}
.owl-controls .owl-buttons .owl-next:before {
    content: "\e263";
}
#cboxPrevious:before {
    content: "\e260";
}
#cboxNext:before {
    content: "\e263";
}
#cboxClose:before {
    content: "\e20f";
}
.nav-regular .nav-panel a .caret:before,
.nav-vert li.level0 > a .caret:before {
    content: "\e263";
}
.accordion .opener:before,
.acco .opener:before {
    content: "\e23c";
}
/* Active opener */
.accordion li.item-active > .opener:before,
.acco li.item-active > .opener:before {
    content: "\e23d";
}
/* Quantity buttons */
.qty-button.increase:before {
    content: "\e262";
}
.qty-button.decrease:before {
    content: "\e261";
}
.gen-tabs .acctab:after,
.collapsible .block-title:after,
.mobile-collapsible .block-title:after,
.sidebar .block .block-title:after,
.block-layered-nav .block-title:after {
    content: "\e261";
}
.gen-tabs .acctab.current:after,
.collapsible .block-title.active:after,
.mobile-collapsible .block-title.active:after,
.sidebar .block .block-title.active:after,
.block-layered-nav .block-title.active:after {
    content: "\e262";
}





/* *************************************************************************************************************
****************************************************************************************************************
 Override CSS components ***************************************************************************************
****************************************************************************************************************
************************************************************************************************************* */





/* Accordion/collapsible openers
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.accordion .opener,
.acco .opener,
.collapsible .opener
{
    /* Override default background image */
    background-image: none !important;

    /* Icon size */
    font-size: 12px;
}


/* Colorbox
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
#cboxPrevious,
#cboxNext,
#cboxClose {
    /* Override default background image */
    background-image: none !important;

    /* Icon size */
    font-size: 20px;
}
#cboxClose {
    font-size: 16px;
}


/* Generic-nav
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Styles common for all direction controls */
.slider-arrows1 .owl-controls .owl-buttons div,
.slider-arrows2 .owl-controls .owl-buttons div,
.slider-arrows3 .owl-controls .owl-buttons div {
    /* Override default background image and remove text indent */
    background-image: none !important;
    text-indent: 0;

    /* Icon size */
    font-size: 20px;
}





/* *************************************************************************************************************
****************************************************************************************************************
 BUILT-IN STATIC BLOCKS ****************************************************************************************
****************************************************************************************************************
************************************************************************************************************* */





.block_category_above_collection { margin:10px 0; }
.block_category_below_collection { margin:10px 0; }
.block_category_above_empty_collection { margin:10px 0; }
.block_mini_cart_above_products { margin:0 0 10px; }
.block_cms_page_top { margin:0 0 15px; }
.block_footer_payment { margin-bottom:10px; margin-left:20px; }

/* Sample block content
-------------------------------------------------------------- */
.sample-block {
    color:#999;
    margin-top:10px;
    padding: 0 !important;
    transition:         color 300ms ease-in-out, background-color 300ms ease-in-out;
    -moz-transition:    color 300ms ease-in-out, background-color 300ms ease-in-out;
    -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    -o-transition:      color 300ms ease-in-out, background-color 300ms ease-in-out;
}
.sample-block:hover { color:#333; }





/* *************************************************************************************************************
****************************************************************************************************************
 HIGH-RESOLUTION READY IMAGES (RETINA-READY) *******************************************************************
****************************************************************************************************************
************************************************************************************************************* */





@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (     -o-min-device-pixel-ratio: 3/2),
only screen and (    -ms-min-device-pixel-ratio: 1.5),
only screen and (        min-device-pixel-ratio: 1.5)
{

    /* Rating */
    .rating-box,
    .rating-box .rating { background-image:url(../images/img/rating@2x.png); background-size:14px 43px; }

} /* end: media query */
