ul#navigation{position: fixed; margin: 0px; padding: 0px; top: 50px; left: 0px; list-style: none; z-index:9999;}
ul#navigation a{text-decoration:none; color:#000000; font-weight:bold;}
ul#navigation li{width: 50px; text-align:center;}

ul#navigation li a{
    display: block;
    margin-left: -2px;
	padding-bottom:40px;
	margin-bottom: 3px;
    width: 100px;
    height: 70px;    
    background-color:#eae8e2;
    background-repeat:no-repeat;
    background-position:top center;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

ul#navigation .store a{background-image: url(../images/tab_nav/store.png); background-color: #ebebeb;}
ul#navigation .blog a{background-image: url(../images/tab_nav/blog.png);  background-color: #00d7cb;}
ul#navigation .gallery a{background-image: url(../images/tab_nav/gallery.png);  background-color: #48b5ff;}
ul#navigation .chat a{background-image: url(../images/tab_nav/chat.png); background-color: #f8c503;}

#navigation  .caption{margin-top:65px;}