/*	--------------------------------------------------
Reveal Modals
-------------------------------------------------- */
	
.reveal-modal-bg{
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 10000;
	display: none;
	top: 0;
	left: 0; 
	}

.reveal-modal{
	visibility: hidden;
	 top: 25%; 
	left:10%;
	width: 80%;
	background: #eee url(../images/modal-gloss.png) no-repeat -200px -80px;
	position: absolute;
	z-index: 10001;
	color:#333333;
	/*-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;*/
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
	}
.reveal-modal .content-modal{
	padding:25px;
}
.reveal-modal.small 	{width: 200px; margin-left: -140px;}
.reveal-modal.medium{width: 400px; margin-left: -240px;}
.reveal-modal.large 	{width: 600px; margin-left: -340px;}
.reveal-modal.xlarge{width: 800px; margin-left: -440px;}

.reveal-modal .close-reveal-modal{
	font-size: 32px;
	line-height: .5;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
	}
.reveal-modal .close-reveal-modal:hover{color:#FFF;}
.reveal-modal .form-modal{text-align:center;}
.reveal-modal .form-modal input{
	padding: 15px;
	width: 60%;
	margin: 2% 1%;
	font-size: 18px;
     line-height:20px;
	border: 1px solid #ddd;
	font-family: 'Open Sans', Arial, sans-serif;
}
.reveal-modal .form-modal button{
	padding: 9px 11px 9px 11px;
	font-size: 21px;
        line-heigh:21px;
	line-height: 1.75em;
	background-color: red;
	color: white;
	font-weight: bold;
	border: 0px;
	cursor: pointer;
}
.check_sub{
	left: 99999px;
	display:none;
}
.footer-modal{
padding: 15px 15px 17px 15px;
background-color: white;
text-align: left;
font-style: italic;
 display:none; 

}
.footer-content{
width: 80%;
margin:auto;
float:left;
}

.footer-modal img{
float:left;
width:20%;
}
.subHeader{
font-size:1.6em;
font-weight:bold;
}
@media screen and (min-width: 1000px){
	.reveal-modal{
		left:25%;
		width:50%;
	}
	.subHeader{
		font-size:2.2em;
	}
}