<?xml version="1.0"?>
<config>
    <modules>
        <WP_AjaxShippingPriceCalculator>
            <version>1.8.0</version>
        </WP_AjaxShippingPriceCalculator>
    </modules>
    <global>
        <models>
            <wp_ajaxshippingpricecalculator>
                <class>WP_AjaxShippingPriceCalculator_Model</class>
            </wp_ajaxshippingpricecalculator>
        </models>
        <blocks>
            <wp_ajaxshippingpricecalculator>
                <class>WP_AjaxShippingPriceCalculator_Block</class>
            </wp_ajaxshippingpricecalculator>
        </blocks>
        <helpers>
            <wp_ajaxshippingpricecalculator>
                <class>WP_AjaxShippingPriceCalculator_Helper</class>
            </wp_ajaxshippingpricecalculator>
        </helpers>
    </global>
    <frontend>
        <routers>
            <wp_ajaxshippingpricecalculator>
                <use>standard</use>
                <args>
                    <frontName>ajaxshippingpricecalculator</frontName>
                    <module>WP_AjaxShippingPriceCalculator</module>
                </args>
            </wp_ajaxshippingpricecalculator>
        </routers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <wp_ajaxshippingpricecalculator>
                        <type>singleton</type>
                        <model>wp_ajaxshippingpricecalculator/observer</model>
                        <method>observeLayoutHandleInitialization</method>
                    </wp_ajaxshippingpricecalculator>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <layout>
            <updates>
                <wp_ajaxshippingpricecalculator>
                    <file>webandpeople/ajaxshippingpricecalculator.xml</file>
                </wp_ajaxshippingpricecalculator>
            </updates>
        </layout>
    </frontend>
    <wp>
        <ajaxshippingpricecalculator>
            <controller_actions>
                <catalog_product_view/>
            </controller_actions>
        </ajaxshippingpricecalculator>
    </wp>
    <default>
        <wp_ajaxshippingpricecalculator>
            <general>
                <enabled>1</enabled>
                <popup_link>1</popup_link>
                <block_position>short_description</block_position>
                <use_country>1</use_country>
                <use_region>1</use_region>
                <use_city>1</use_city>
                <use_postcode>1</use_postcode>
                <use_coupon_code>1</use_coupon_code>
                <use_cart>1</use_cart>
                <use_cart_default>1</use_cart_default>
                <version>1.8.0</version>
            </general>
        </wp_ajaxshippingpricecalculator>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <wp_ajaxshippingpricecalculator translate="title" module="wp_ajaxshippingpricecalculator">
                                            <title><![CDATA[Web & People: Ajax Shipping Price Calculator]]></title>
                                            <sort_order>2000</sort_order>
                                        </wp_ajaxshippingpricecalculator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <about_webandpeople translate="title" module="wp_ajaxshippingpricecalculator">
                                            <title><![CDATA[Web & People: About Us]]></title>
                                            <sort_order>1000</sort_order>
                                        </about_webandpeople>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
