<?xml version="1.0"?>
<config>
	<default>
		<testimonial>
			<general_option>
				<show_link_testimonial>1</show_link_testimonial>
				<enable_sidebar>1</enable_sidebar>
				<enable_testimonial_paging>1</enable_testimonial_paging>
				<divide_page>9, 15, 30, 'all'</divide_page>
				<max_testimonials_sidebar>3</max_testimonials_sidebar>
				<testimonial_sidebar_slider>0</testimonial_sidebar_slider>
			</general_option>
			<testimonial_options>
				<testimonial_captcha_enabled>1</testimonial_captcha_enabled>
				<allow_customers_write_testimonial >1</allow_customers_write_testimonial >
				<allow_guest_write_testimonial>0</allow_guest_write_testimonial>
				<approve_testimonial>1</approve_testimonial>
				<thank_message><![CDATA[Your testimonial was successfully posted and waiting for approval.]]></thank_message>
			</testimonial_options>
			<email_configuration>
				<send_email_after_post_testimonial>0</send_email_after_post_testimonial>
				<send_email_after_approve_testimonial>0</send_email_after_approve_testimonial>
				<select_template_post>testimonial_email_configuration_select_template_post</select_template_post>
				<select_template_approve>testimonial_email_configuration_select_template_approve</select_template_approve>
			</email_configuration>
		</testimonial>
	</default>
	<modules>
		<Magebuzz_Testimonial>
			<version>0.1.4</version>
		</Magebuzz_Testimonial>
	</modules>
	<frontend>
		<routers>
			<testimonial>
				<use>standard</use>
				<args>
					<module>Magebuzz_Testimonial</module>
					<frontName>testimonial</frontName>
				</args>
			</testimonial>
		</routers>
		<layout>
			<updates>
				<testimonial>
					<file>testimonial.xml</file>
				</testimonial>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<testimonial>
				<use>admin</use>
				<args>
					<module>Magebuzz_Testimonial</module>
					<frontName>testimonial</frontName>
				</args>
			</testimonial>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<testimonial>
					<file>testimonial.xml</file>
				</testimonial>
			</updates>
		</layout>
	</adminhtml>   
	<global>
		<models>
			<testimonial>
				<class>Magebuzz_Testimonial_Model</class>
				<resourceModel>testimonial_mysql4</resourceModel>
			</testimonial>
			<testimonial_mysql4>
				<class>Magebuzz_Testimonial_Model_Mysql4</class>
				<entities>
					<testimonial>
						<table>simple_testimonial</table>
					</testimonial>
				</entities>
			</testimonial_mysql4>
		</models>
		<resources>
			<testimonial_setup>
				<setup>
					<module>Magebuzz_Testimonial</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</testimonial_setup>
			<testimonial_write>
				<connection>
					<use>core_write</use>
				</connection>
			</testimonial_write>
			<testimonial_read>
				<connection>
					<use>core_read</use>
				</connection>
			</testimonial_read>
		</resources>
		<blocks>
			<testimonial>
				<class>Magebuzz_Testimonial_Block</class>
			</testimonial>
		</blocks>
		<helpers>
			<testimonial>
				<class>Magebuzz_Testimonial_Helper</class>
			</testimonial>
		</helpers>
		<template>
			<email>
				<testimonial_email_configuration_select_template_post translate="label" module="testimonial">
					<label>Custom Email Template After Post Testimonial</label>
					<file>email_template_after_post_testimonial.html</file>
					<type>html</type>
				</testimonial_email_configuration_select_template_post >
				<testimonial_email_configuration_select_template_approve translate="label" module="testimonial">
					<label>Custom Email Template After Approve Testimonial</label>
					<file>email_template_after_approve_testimonial.html</file>
					<type>html</type>
				</testimonial_email_configuration_select_template_approve >
			</email>
		</template>
	</global>
</config>