<?xml version="1.0"?>
<config>
	<tabs>
		<magebuzz translate="label" module="testimonial">
			<label>MAGEBUZZ ADD-ONS</label>
			<sort_order>1001</sort_order>
		</magebuzz>
	</tabs>
	<sections>
		<testimonial translate="label" module="testimonial">
			<label>Free Testimonials</label>
			<tab>magebuzz</tab>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			<groups>
				<general_option translate="label">
					<label>General Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<show_link_testimonial translate="label">
							<label>Show testimonial on top link</label>
							<frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</show_link_testimonial>
                        <enable_sidebar>
                            <label>Show testimonial on Sidebar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_sidebar>
                        <enable_testimonial_paging>
                            <label>Show testimonial paging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_testimonial_paging>
                        <divide_page>
                            <label>Testimonials per page on list allowed values</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma-separated.</comment>
                        </divide_page>
						<max_testimonials_sidebar>
                            <label>Maximum testimonials on sidebar</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_testimonials_sidebar>
						<testimonial_sidebar_slider translate="label">                            
							<label>Show testimonial on sidebar as slider</label>                            
							<frontend_type>select</frontend_type>                            
							<source_model>adminhtml/system_config_source_yesno</source_model>                            
							<sort_order>9</sort_order>                            
							<show_in_default>1</show_in_default>                            
							<show_in_website>1</show_in_website>                            
							<show_in_store>1</show_in_store>                        
						</testimonial_sidebar_slider>
					</fields>
				</general_option>
				<testimonial_options translate="label">
					<label>Testimonial Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
                        <allow_customers_write_testimonial translate="label">
                            <label>Allow customers to submit testimonial</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow_customers_write_testimonial>
						<testimonial_captcha_enabled translate="label">
							<label>Enable captcha</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</testimonial_captcha_enabled>
						<!--<customer_write_testimonial_enabled translate="label">
                            <label>Enable customer to write testimonials</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_write_testimonial_enabled>-->
						<allow_guest_write_testimonial translate="label">
                            <label>Allow guest to write testimonials</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow_guest_write_testimonial>
						<thank_message translate="label">
                            <label>Thank you message </label>
                            <frontend_type>textarea</frontend_type>							
                            <comment>Message displayed after testimonial submission</comment>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </thank_message>
						<approve_testimonial translate="label">
                            <label>Approve testimonials</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </approve_testimonial>
					</fields>
				</testimonial_options>
				<email_configuration>
					<label>Email Setting</label>
					<frontend_type>text</frontend_type>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<send_email_after_post_testimonial translate="label">
							<label>Enable sending email after posting testimonial</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</send_email_after_post_testimonial>
						<send_email_after_approve_testimonial translate="label">
							<label>Enable sending email after testimonial is approved</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</send_email_after_approve_testimonial>
						<select_template_post translate="label">
							<label>Email template for posting testimonial </label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</select_template_post>
						<select_template_approve translate="label">
							<label>Email template for approving testimonial</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</select_template_approve>
					</fields>
				</email_configuration>
			</groups>
		</testimonial>
	</sections>
</config>

