<?xml version="1.0"?>
<config>
    <modules>
        <Korifi_Sendy>
            <version>1.1.3</version>
        </Korifi_Sendy>
    </modules>
	<frontend>
		<routers>
			<sendy>
				<use>standard</use>
				<args>
					<module>Korifi_Sendy</module>
					<frontName>sendy</frontName>
				</args>
			</sendy>
		</routers>
	</frontend>	
    <default>
        <sendy>
            <setting>
                <active>0</active>
                <api_key>6FhActhOcrDfGymZ21Qf</api_key>
                <list_id>iEm9N1RMnhmKDvPKS6hd4Q</list_id>
				<installation_url>http://yourdomain/sendy/</installation_url>
				<path_installation_sendy>/var/www/html/domain/sendy/</path_installation_sendy>
            </setting>
        </sendy>
    </default>
    <global>
        <models>
            <sendy>
                <class>Korifi_Sendy_Model</class>
            </sendy>
        </models>
        <helpers>
            <sendy>
                <class>Korifi_Sendy_Helper</class>
            </sendy>
        </helpers>
        <blocks>
            <sendy>
                <class>Korifi_Sendy_Block</class>
            </sendy>		
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Korifi_Sendy_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>    
		<events>
		  <customer_save_before>
			<observers>
			  <korifi_sendy_observer>
				<type>singleton</type>
				<class>sendy/customer_observer</class>
				<method>check_subscription_status</method>
			  </korifi_sendy_observer>
			</observers>
		  </customer_save_before>     
		  <customer_delete_before>
			<observers>
			  <korifi_sendy_observer_2>
				<type>singleton</type>
				<class>sendy/customer_observer</class>
				<method>customer_deleted</method>
			  </korifi_sendy_observer_2>
			</observers>
		  </customer_delete_before>     
		</events>

		<rewrite>
		  <korifi_sendy_new>
			<from><![CDATA[#^/newsletter/subscriber#]]></from>
			<to>/sendy/hook</to>
		  </korifi_sendy_new>
		  <!--korifi_sendy_admin>
			<from><![CDATA[#^/admin/newsletter_subscriber#]]></from>
			<to>/sendy/adminhook</to>
		  </korifi_sendy_admin-->
		</rewrite>		
    </global>
    <adminhtml>
		<events>
            <adminhtml_block_html_before>
                <observers>
                    <sendy_add_option_migration>
                        <class>sendy/observer</class>
                        <method>addMassAction</method>
                    </sendy_add_option_migration>
                </observers>
            </adminhtml_block_html_before>
		</events>	
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sendy>
                                            <title>Subscriber to Sendy</title>
                                        </sendy>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<admin>
        <routers>
            <adminsendy>
                <use>admin</use>
                <args>
                    <module>Korifi_Sendy</module>
                    <frontName>adminsendy</frontName>
                </args>
            </adminsendy>
        </routers>	
	</admin>	
    <!--crontab>
        <jobs>
            <subscriber_to_sendy>
                <schedule>
                    <cron_expr>55 23 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sendy/observer::subscriber_to_sendy</model>
                </run>
            </subscriber_to_sendy>
        </jobs>
    </crontab-->
</config>