<?xml version="1.0"?>
<!--
/**
 * @category   Apptrian
 * @package    Apptrian_Subcategories
 * @author     Apptrian
 * @copyright  Copyright (c) 2015 Apptrian (http://www.apptrian.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Apptrian_Subcategories>
            <version>1.6.1</version>
        </Apptrian_Subcategories>
    </modules>
    <global>
		<models>		
			<apptrian_subcategories>
				<class>Apptrian_Subcategories_Model</class>
			</apptrian_subcategories>  		
		</models>
        <resources>
            <apptrian_subcategories_setup>
                <setup>
                    <module>Apptrian_Subcategories</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apptrian_subcategories_setup>
        </resources>
        <blocks>
            <apptrian_subcategories>
                <class>Apptrian_Subcategories_Block</class>
            </apptrian_subcategories>
        </blocks>
        <helpers>
            <apptrian_subcategories>
                <class>Apptrian_Subcategories_Helper</class>
            </apptrian_subcategories>
        </helpers>
    </global>
	<default>
        <apptrian_subcategories>
            <general>
                <enabled>1</enabled>
            </general>
            <category_page>
                <show_after_content>1</show_after_content>
                <show_before_content>0</show_before_content>
                <subcategories_layout>layout-grid</subcategories_layout>
                <sort_attribute>position</sort_attribute>
                <sort_direction>asc</sort_direction>
                <show_subcategories_heading>1</show_subcategories_heading>
                <show_category_name>bottom</show_category_name>
                <show_description>none</show_description>
                <show_image>image</show_image>
                <height>135</height>
                <width>135</width>
                <exclude_ids></exclude_ids>
            </category_page>
            <home_page>
                <show_after_content>1</show_after_content>
                <show_before_content>0</show_before_content>
                <subcategories_layout>layout-grid</subcategories_layout>
                <sort_attribute>position</sort_attribute>
                <sort_direction>asc</sort_direction>
                <show_subcategories_heading>1</show_subcategories_heading>
                <show_category_name>bottom</show_category_name>
                <show_description>none</show_description>
                <show_image>image</show_image>
                <height>135</height>
                <width>135</width>
                <category_ids></category_ids>
                <mode>specific</mode>
            </home_page>
        </apptrian_subcategories>
    </default>
    <frontend>
        <layout>
            <updates>
                <apptrian_subcategories>
                    <file>apptrian_subcategories.xml</file>
                </apptrian_subcategories>
            </updates>
        </layout>
        <translate>
            <modules>
                <Apptrian_Subcategories>
                    <files>
                        <default>Apptrian_Subcategories.csv</default>
                    </files>
                </Apptrian_Subcategories>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <apptrian_info>
                                            <title>Info</title>
                                        </apptrian_info>
                                        <apptrian_subcategories>
                                            <title>Subcategories Grid / List</title>
                                        </apptrian_subcategories>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Apptrian_Subcategories>
                    <files>
                        <default>Apptrian_Subcategories.csv</default>
                    </files>
                </Apptrian_Subcategories>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <apptrian_subcategories_check>
                <schedule>
                   <cron_expr>11 1 */11 * *</cron_expr>
                </schedule>
                <run>
                   <model>apptrian_subcategories/cron::check</model>
                </run>
            </apptrian_subcategories_check>
        </jobs>
    </crontab>
</config>